<% if (!user) { %>
    <h1>Admin panel</h1>
	<p>Authorize accounts only : <a href="/admin/login">log in</a>!</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/admin/profile">profile</a>.</p>
<% } %>
