<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>CuiCui</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="theme-color" content="#424242"/>
    <link rel="manifest" href="manifest.json">
	<link href="//dav.li/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="//dav.li/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="style.css" rel="stylesheet"/>
</head>
<body>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <% if (admin) { %>
        <li role="presentation" class="tab-dropdown-options">
            <a href="#timeline" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-list" aria-hidden="true"></i><span class="hidden-xs">Timeline</span></a>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <!--li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li role="separator" class="divider"></li-->
                <li class="dropdown-header">Options</li>
                <li>
                    <form>
                        <label class="autoscroll"><input type="checkbox"/>Auto-scroll</label>
                    </form>
                </li>
            </ul>
        </li>
        <% } %>
        
        <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i><span class="hidden-xs">Search</span></a></li>
        
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs">Settings</span></a>
        </li>
    </ul>

   
   <!--- BODY -->
    <div class="tab-content">
        <div id="home" role="tabpanel" class="tab-pane active" data-scroll="0">
            <div class="jumbotron">
                <h1>CuiCui</h1>
                <p>Social networks watcher</p>
            </div>
            <p>More info coming soon.</p>
        </div>
        <% if (admin) { %>
        <!-- Home Timeline -->
        <div id="timeline" role="tabpanel" class="tab-pane timeline" data-scroll="0">
            <ul>
				
		
			</ul>
        </div>
        <% } %>
        <!-- Omnisearch -->
        <div role="tabpanel" class="tab-pane fade" id="search">
            <form class="form-search content-search" action="/" method="post" id="omnisearch">
                <div class="input-group input-group-lg">
                    <input title="Enter the terms you wish to search for." placeholder="Omnisearch" class="form-control form-text" type="text" name="search_block_form" value="" size="15" maxlength="128"><span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                </div>
            </form>
            <ul id="omnisearchResults">
                <li>
                    If you want to search in the index of the database, just type your query without any prefix. If you want to list specific items (user data, tweets of user, saved tweets), use <code class="btn-addon" data-addon="database://" data-toggle="tooltip" data-placement="top" title="Click to add">database://</code>. If you want to make a Twitter API request, use <code class="btn-addon" data-addon="inspect://" data-toggle="tooltip" data-placement="top" title="Click to add">inspect://</code> with a link to a tweet or a link to a user, or a tweet ID or a @username. You can use <code class="btn-addon" data-addon="save://" data-toggle="tooltip" data-placement="top" title="Click to add">save://</code> to make a Twitter API request and save the result to the database and with the WayBackMachine.
                </li>
            </ul>
        </div>
        <!-- Settings -->
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <h2>Settings</h2>
            <p><a class="btn btn-default" href="//cuicui.dav.li" target="_blank">Learn more about CuiCui</a></p>
            <h3>Theme</h3>
            <div id="themeSelector">
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" checked="checked" disabled>
                        White default Bootstrap theme
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="theme-darkdeck.css">
                        Dark deck theme
                    </label>
                </div>
            </div>
        </div>
    </div>
	
	
	
	
	
	<div id="tweetTemplate" class="markupTemplate">
		<li id="tweet{{twitter.id_str}}" class="tweet panel panel-default">
			{{if twitter.in_reply_to_screen_name}}
				<i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Replied from @{{twitter.in_reply_to_screen_name}}'s tweet"></i>
			{{/if}}
			<header class="panel-heading">
				<a class="user" href="//twitter.com/{{twitter.user.screen_name}}" target="_blank" style="color:#{{twitter.user.profile_link_color}}">
					<img src="{{twitter.user.profile_image_url}}" alt="Profil picture of {{twitter.user.name}}" data-toggle="tooltip" data-placement="right" title="Profil picture of {{twitter.user.name}}">{{twitter.user.name}} @{{twitter.user.screen_name}}
				</a>
                <span class="timestamp">
				    <a href="//twitter.com/i/web/status/{{twitter.id_str}}" target="_blank">{{preprocess.date}}</a>
                    via {{preprocess.source}}
                </span>
			</header>
			<div class="panel-body">
			{{if twitter.retweeted_status}}
			<div class="embedtweet panel panel-default">
				<i class="fa fa-retweet" aria-hidden="true"></i>
				<header class="panel-heading">
					<a class="user" href="//twitter.com/{{twitter.retweeted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.retweeted_status.user.profile_link_color}}">
						<img src="{{twitter.retweeted_status.user.profile_image_url}}" alt="Profil picture of {{twitter.retweeted_status.user.name}}" style="height:20px">{{twitter.retweeted_status.user.name}} @{{twitter.retweeted_status.user.screen_name}}
					</a>
					<span class="timestamp">
                        <a href="//twitter.com/i/web/status/{{twitter.retweeted_status.id_str}}" target="_blank">{{preprocess.retweeted_status.date}}</a>
                        via {{preprocess.retweeted_status.source}}
                    </span>
				</header>
				<div class="panel-body">
					{{preprocess.retweeted_status.tweet}}
					
					{{if twitter.quoted_status}}
					<div class="embedtweet quotedtweet panel panel-default">
						<i class="fa fa-quote-left" aria-hidden="true"></i>
						<header class="panel-heading">
							<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
								<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
							</a>
							<span class="timestamp">
							  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
								via {{preprocess.quoted_status.source}}
							</span>
						</header>
						<div class="panel-body">
							{{preprocess.quoted_status.tweet}}
						</div>
						<footer class="panel-footer">
							<ul>
								<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
								<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
								<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
						</footer>
					</div>
					{{/if}}
					</div>
				<footer class="panel-footer">
					<ul>
						<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
						<li class="retweet">{{twitter.retweeted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
						<li class="favorite">{{twitter.retweeted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
					</ul>
				</footer>
			</div>
			{{else}}
				{{preprocess.tweet}}
				{{if twitter.quoted_status}}
				<div class="embedtweet quotedtweet panel panel-default">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					<header class="panel-heading">
						<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
							<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
						</a>
						<span class="timestamp">
						  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
                            via {{preprocess.quoted_status.source}}
                        </span>
					</header>
					<div class="panel-body">
						{{preprocess.quoted_status.tweet}}
					</div>
					<footer class="panel-footer">
						<ul>
							<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
							<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
							<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
						</ul>
					</footer>
				</div>
				{{/if}}
			{{/if}}
			</div>
			<footer class="panel-footer">
				<ul>
					<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
					<li class="retweet">{{twitter.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
					<li class="favorite">{{twitter.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
				</ul>
			</footer>
		</li>
	</div>
	
	<div id="hashtagTemplate" class="markupTemplate">
		<a class="hashtag" href="//twitter.com/hashtag/{{text}}" target="_blank">#{{text}}</a>
	</div>
	
	<div id="linkTemplate" class="markupTemplate">
		<a class="link" href="{{expanded_url}}" target="_blank">{{display_url}}</a>
	</div>
	
	<div id="mentionTemplate" class="markupTemplate">
		<a class="mention" href="//twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
	</div>
	
	<div id="imgTemplate" class="markupTemplate">
		<a class="media" href="{{media_url_https}}" target="_blank"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	<div id="videoTemplate" class="markupTemplate">
		<a class="media" href="{{video_info.variants.0.url}}" target="_blank" title="{{type}}"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	
<script src="//dav.li/jquery/2.1.4.js"></script>
<script src="//dav.li/markupjs/1.5.21.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//dav.li/bootstrap/js/bootstrap.min.js"></script>
<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
<script src="script.js"></script>
<% if (admin) { %>
<script src="timeline.js"></script>
<% } %>
</body>
</html>
